<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b0cb3db-497c-475f-9019-5b6c0a1d2ed1" Alias="contentPage" Level="1">
  <Info>
    <Name>Content page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="244412d5-ec51-4b6f-84ae-0c3570139af1">content</Composition>
      <Composition Key="f35f557d-fdb2-494e-8b56-178a92dd17a0">headerProp</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="84be0855-57fd-426e-9cff-0dac2153c6b3">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>