<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec4feb79-9693-4ad2-b889-e8aea430bf53" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f35f557d-fdb2-494e-8b56-178a92dd17a0">headerProp</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ce503c0f-efdd-4ec1-b595-c9020b3ce0a3">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1b0cb3db-497c-475f-9019-5b6c0a1d2ed1" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>