@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IHeaderProp>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<div>
    <h1>@Model.Title</h1>
</div>