<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ac2a36f-ef42-4533-a3b9-aa7c494bccbe" Alias="Authors" Level="1">
  <Info>
    <Name>Authors</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 5,
  "Minimum": 1
}]]></Config>
</DataType>