<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c8ea49b-9377-4b80-ac4f-e00ec1f1c58d" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-09-14T17:16:07</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce503c0f-efdd-4ec1-b595-c9020b3ce0a3">Home</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[OK OK]]></Value>
    </title>
  </Properties>
</Content>