<?xml version="1.0" encoding="utf-8"?>
<Content Key="47be84e4-a8f3-404d-b829-4ac3eb7579be" Alias="My blog" Level="2">
  <Info>
    <Parent Key="6c8ea49b-9377-4b80-ac4f-e00ec1f1c58d">Home Page</Parent>
    <Path>/HomePage/MyBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-09-14T18:06:45</CreateDate>
    <NodeName Default="My blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84be0855-57fd-426e-9cff-0dac2153c6b3">ContentPage</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "markup": "<p>s adashdsabda&nbsp; djsahdsa</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </mainContent>
    <title>
      <Value><![CDATA[Freya Spa ]]></Value>
    </title>
  </Properties>
</Content>